.galeria {
  max-width: calc(var(--max-width) + var(--space-200));
  padding-top: var(--space-120);
}

.galeria-fotos {
  display: flex;
  gap: var(--space-040);
  overflow-x: auto;
}

.galeria-item {
  min-width: 300px;
}

.galeria h2 {
  color: var(--c11);
  margin-bottom: var(--space-040);
  font: var(--font-1-xxl);
  max-width: var(--max-width);
  margin: 0 auto;
}

.galeria-item h3 {
  font: var(--font-1-xl);
  color: var(--c11);
  display: flex;
}

.galeria-item h3::before {
  content: "";
  width: 12px;
  height: 8px;
  margin-right: var(--space-008);
  background-color: var(--p1);
  align-self: center;
}

.galeria-item a:hover h3::before {
  width: 24px;
  transition: width 0.3s;
}

.galeria-item span {
  color: var(--c8);
  font: var(--font-2-m);
  margin-left: var(--space-020);
}
