 .header-container {
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-032);
    max-width: var(--max-width);
    margin: 0 auto;
    
    
}

.header-nav {
    display: flex;
    gap: var(--space-040);
    

    
   
}

.header-nav li a {
 color: var(--w);
 text-decoration: none;
 font: var(--font-1-m-b);
 


}


.header {
    background-color: var(--c12);
}
