.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: var(--space-032);

}

.header-nav {
  display: flex;
  gap: var(--space-040);
  margin-bottom: 32px;
}

.header-nav li a {
  color: var(--w);
  text-decoration: none;
  font: var(--font-1-m-b);
  padding: var(--space-032) 0px;
  position: relative;
}

.header {
  background-color: var(--c12);
  padding-top: var(--space-020);
}

.header-nav li a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: white;
  transition: 0.3s;
  margin-top: 4px;
  position: absolute;
}

.header-nav li a:hover:after {
  width: 100%;
}
