@import "./global.css";
@import "./utility/components.css";
@import "./header.css";
@import "./main.css";
@import "./galeria.css";
@import "./seguro.css";
@import "./parceiros.css";
@import "./depoimento.css";

