.container {
  padding: var(--space-032) var(--space-032) 0 var(--space-032);
  max-width: var(--max-width);
  margin: 0 auto;
  box-sizing: border-box;
}

.link {
  color: var(--p1);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
